body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(7, 22, 39);
    color: rgb(243, 243, 246);
    display: flex;
    justify-content: center;
    padding: 2rem;
}

/* GRID layout for kortene */
main {
    max-width: 1200px; /* større så du får plass til 4 */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

div {
    background-color: rgb(15, 33, 51);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

/* Knappestil */
button {
        
    background: #0df2d7;
    border: 0px solid rgb(242, 105, 13);
    padding: 0.6rem 1.2rem;
    border-radius: 12px;
    cursor: pointer;
    transition: border 0.2s, box-shadow 0.2s, background 0.2s;
}

button:hover {
    background: #9efaef;

}

/* Inputfelter */
input[type="number"],
input[type="date"],
input[type="text"] {
    padding: 0.5rem 0.8rem;
    margin: 0.5rem; /* legger litt space på alle sider */
    border: 1px solid rgb(13, 242, 215);
    border-radius: 12px;
    font-size: 1rem;
    width: 150px;
}


input:focus {
    border-color: #ff0000;
    outline: none;
    box-shadow: 0 0 0 2px rgba(61, 51, 255, 0.2);
}

/* Overskrifter */
h1 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-right: 40px;
    grid-column: 1 / -1; /* gjør at h1 alltid strekker seg over hele bredden */
}

h2 {
    font-weight: 600;
    margin-bottom: 1rem;
}

/* Responsivt */
@media (max-width: 600px) {
    input[type="number"],
    input[type="date"],
    input[type="text"] {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    div {
        padding: 1rem;
    }
}

/* Kalkulator-stil */
#calcDisplay {
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 1.2rem;
    padding: 5px;
    border: none;
    border-radius: 6px;
    background: #071627; /* int */
    color: #00f597; /* int */
}

.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    background: #071627;
    color: white
}

.calc-btn {
    padding: 15px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    background: #636a79;
    cursor: pointer;
    transition: background 0.2s;
}

.calc-btn:hover {
    background: #495869;
}

.operator {
    background: rgb(15, 33, 51);
}

.operator:hover {
    background: #003c42;
}

.equal {
    grid-column: span 4;
    background: #0df2d7;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.equal:hover {
    background: #9efaef;
}

.converter {
    display: grid;
    gap: 10px;
    margin-bottom: 1rem;
}

#result {
    font-size: 1.2rem;
    margin-top: 1rem;

}

.resultbtn {
    color:#ff0000
}